*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 100%;
}
body{
    padding-inline: 20px;
    min-height: 100vh;
    background-color: antiquewhite;
}
header{
    padding: 20px 0;
    text-align: center;
}
main{
    padding: 20px 0;
}
main form{
    background-color: pink;
    border: 1px solid black;
    padding: 10px;
}
main form input{
    border-radius: 10px;
    padding: 5px;
    border: 1px solid black;
}
main .main-task-container{
    padding: 20px;
}
.task-contain{
    background-color:pink;
    padding: 10px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    width: fit-content;
    position: relative;

    animation-duration: 1s
}
.task-contain p{
    margin-inline: 10px;
}
.checked{
    background-color: gray;
}
.checked p, .checked h2{
    text-decoration: line-through;
}
.invisible{
    display: none
}
#div-error{
    position: absolute;
    top: 30px;
    padding: 10px;
    background-color: yellow;
    border: 1px solid black;
    font-size: 1.5rem;
}
.delete-btn{
    position: absolute;
    right: 0;
    transform: translateX(30px);
}

@keyframes delete {
    0%{
        right: 0px;
    }
    100%{
        right: 220px;
    }
}